<%= form_for @address do |form| %>

  <div class="field">
    <%= form.label :address_line %>
    <%= form.text_field :address_line %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode %>
  </div>

	<div>
		<%= form.submit %>
	</div>
<% end %>

<%= link_to 'Show', @address %> |
<%= link_to 'Back', addresses_path %>
